# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# Binaries (FFmpeg, Deno etc)
*.exe
*.dll
*.so
*.dylib

# Downloads
*.mp4
*.mkv
*.webm
*.mp3
*.m4a

# User Data
cookies.txt
data/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
logs/
debug_test.py
setup_ffmpeg.py
setup_ffmpeg.ps1
test_cb.py
ffmpeg_temp.zip
ffmpeg.zip

# PyInstaller
dist/
build/
*.spec
